.timer {
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 30px;
  line-height: 126%;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.4);
  cursor: default;
}
