.cards-field {
  width: 744px;
  height: 532px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  background-color: cadetblue;
}
