.header {
  height: 64px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
}

.header-container {
  max-width: 1440px;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.header-left,
.header-right {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 124%;
  letter-spacing: 1.25px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  &__top,
  &__bottom {
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top {
    color: #ffffff;
  }

  &__bottom {
    color: #2196f3;
    background-color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.navigation {
  height: 100%;
  display: flex;
  cursor: pointer;
  margin-left: 150px;

  &__about,
  &__score,
  &__settings {
    width: 96px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &__about {
    background-color: #1e88e5;
    cursor: default;
  }

  &__score:hover {
    background-color: #1e33a9;
  }

  &__settings:hover {
    background-color: #1e33a9;
  }
}

.navigation-icon {

  &__about,
  &__score,
  &__settings {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__about {
    background-color: #ffffff;
    background-image: url('./icons/header/about.jpg');
  }

  &__score {
    background-image: url('./icons/header/score.jpg');
    background-size: contain;
  }

  &__settings {
    background-color: #ffffff;
    background-image: url('./icons/header/settings.jpg');
    background-size: contain;
  }
}

.navigation-text {
  font-size: 12px;
  line-height: 124%;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url('./images/avatar.jpg');
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.register-button {
  min-width: 130px;
  height: 36px;
  border-radius: 4px;
  padding: 0 16px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: rgba(33, 150, 243, 1);
  background-color: #F2F9FE;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
